<header>
  <div class="hero">
    <section class="layout">
      <div class="branding">
        
          <p>Where to find miumiu</p>
        
      </div><!-- branding -->
    </section><!-- layout -->
  </div><!-- hero -->

  <div class="navigation">
    <section class="layout">
      <ul class="nav">
        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/speakers"><i class="fa fa-user"></i> Speakers</a></li>
      </ul><!-- nav -->
    </section><!-- layout -->
  </div><!-- navigation -->
</header>