<header>
  <div class="hero">
    <section class="layout">
      <div class="branding">
        
          <h1 id='title'>IT'S NICE TO MEET YOU</h1>
            <p id='subtitle'>Must-See NYC</p>
      </div><!-- branding -->
    </section><!-- layout -->
  </div><!-- hero -->

  <div class="navigation">
    <section class="layout">
      <ul class="nav">
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/speakers"><i class="fa fa-coffee"></i>Attractions</a></li>
      </ul><!-- nav -->
    </section><!-- layout -->
  </div><!-- navigation -->
</header>