<article class="artworklist">
  <h1>Gallery</h1>
  <p>While you walk through the city, you probably will see these beautiful scenes from your own eyes.</p>
  <div class="pixgrid">
    <% if (artwork.length > 0) { %>
      <% for (i=0; i<artwork.length; i++) { %>
        <img src="/images/artwork/<%= artwork[i] %>" alt="Artwork <%= i %>">
      <% } %>
    <% } %>
  </div>
</article>