<article id="getbusy">
  <h1>Get social!</h1>
  <p>Hey there! <a href="http://www.instagram.com/zhenghao58">Take a look at my Instagram</a>, <a href="http://www.twitter.com/littlehao603">follow me on twitter</a>. If you're in FaceBook, you can also <a href="http://www.facebook.com/zhenghao888">'like' me on FaceBook</a>.</p>
</article><!-- article -->