<article id="getbusy">
  <h1>Get Social</h1>
  <p>Hey there! <a href="http://www.instagram.com/zhenghao58">Take a look at my Instagram</a>, <a href="http://www.twitter.com/littlehao603">or follow me on Twitter</a>. If you're in Facebook, click <a href="http://www.facebook.com/zhenghao888">here to find me</a>.</p>
</article><!-- article -->