<article id="whoarewe">
  <h1>New York City</h1>
    <p>New York City's five boroughs are home to some of the world's most recognizable, cherished landmarks and attractions. From Times Square and Central Park to the Empire State Building and The Metropolitan Museum of Art, the island of Manhattan packs more famous icons into one compact area than any other place on earth; and that's to say nothing of the City's four other boroughs—The Bronx, Brooklyn, Queens and Staten Island—each of which contains its own roster of must-see destinations. </p>
    <p>With so much to see and do, a trip to NYC may seem a little overwhelming. To help, we've rounded up attractions that belong on any visitor's to-see list. Since the City's full breadth of activities is virtually limitless, be sure to visit our complete list of tours and attractions for more ideas.</p>
</article><!-- article -->