<article id="whoshouldcome">
  <h1>About Me</h1>
  <p>
    First, I am currently a Master student in New York University, majoring in Electrical Engineering. Second, I am photography enthusiast and amatuer graphic designer. Last but the most importantly, I am an engineer.
  </p>
</article><!-- article -->